<div class="modal-header">
    <h4 class="modal-title">Configuration</h4>
</div>
<div class="modal-body">
    <label class="control-label">API URL</label>
    <input type="text" ng-model="api.url" class="form-control">
    <br />
    <label class="control-label">Secret Key</label>
    <input type="password" ng-model="header.Authorization" class="form-control">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelSave()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>
