<div class="modal-header">
    <h4 class="modal-title">Transaction History</h4>
</div>
<div class="modal-body">
	<table class="table table-striped">
		<tr>
			<th>Type</th>
			<th>Account</th>
			<th>Amount</th>
			<th>Void</th>
		</tr>
		<tr ng-repeat="item in history">
			<td>{{item.trancode}}</td>
			<td>*{{item.account.substr(id.length - 4);}}</td>
			<td>{{item.amount}}</td>
			<td><button type="button" class="btn btn-danger btn-sm" ng-disabled="voided(item.reference, item.voided_id)" ng-click="void(item.reference)">Void</button></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
</div>