<div class="modal-header">
    <h4 class="modal-title">Transaction History</h4>
</div>
<div class="modal-body">
	<table class="table table-striped">
		<tr>
			<th>Type</th>
			<th>Account</th>
			<th>Amount</th>
			<th>Void</th>
		</tr>
		<tr ng-repeat="item in history">
			<td>{{item.Trancode}}</td>
			<td>*{{item.Account.substr(id.length - 4);}}</td>
			<td>{{item.Amount}}</td>
			<td><button type="button" class="btn btn-danger btn-sm" ng-disabled="voided(item.RefNo, item.VoidedID)" ng-click="void(item.Transcode, item.RefNo)">Void</button></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
</div>