<h4>One Time Payment</h4>
<div class="panel-heading">
  <div class="panel-title">
    Run a single transaction
  </div>
</div>
<div ng-hide="$root.config.url">cannot use virtual terminal until configured</div>
  <form ng-submit="submitRequest()" ng-show="$root.config.url" class="m-t-10">
    <div class="row">
      <div ng-class="{'col-sm-4':showEntryModeToggle, 'col-sm-6':!showEntryModeToggle}">
        <div class="form-group form-group-default">
          <label>Sale Type</label>
          <select class="form-control" ng-model="op">
            <option value="Credit">Credit</option>
            <option value="Gift">Gift</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4" ng-show="showEntryModeToggle">
        <div class="form-group form-group-default">
          <label>Entry Mode</label>
          <select class="form-control" ng-model="mode">
            <option value="Manual">Manual</option>
            <option value="Swipe">Swipe</option>
            <option value="Token" ng-disabled="op === 'Gift'">Token</option>
          </select>
        </div>
      </div>
      <div ng-class="{'col-sm-4':showEntryModeToggle, 'col-sm-6':!showEntryModeToggle}">
        <div class="form-group form-group-default" ng-class="{disabled:op!='Credit'}">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="tranType">
            <option value="Sale" ng-disabled="op==='Gift'">Sale</option>
            <option value="Return" ng-disabled="op==='Gift'">Return</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-group-default input-group">
          <span class="input-group-addon">
            <i class="fa fa-dollar"></i>
          </span>
          <label>Amount</label>
          <input type="text" class="form-control" placeholder="0.00" ng-model="request.Amount" required>
        </div>
      </div>
    </div>
    <div class="row" ng-show="mode == 'Manual'">
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>Card Number</label>
          <input type="text" placeholder="################" class="form-control" ng-model="request.Account" ng-required="mode == 'Manual'">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default"  ng-class="{disabled: op=='Gift'}">
          <label>Expiration Date</label>
          <input type="text" placeholder="1231" class="form-control" ng-model="request.Expiration" ng-disabled="op=='Gift'">
        </div>
      </div>
    </div>
    <div ng-show="mode == 'Swipe'" class="row">
      <div class="col-sm-12">
      <div class="form-group form-group-default">
        <label>Account Details</label>
        <swipe-receiver account="request.Account" account-key="request.AccountKey" encrypted-account="request.EncryptedAccount" enable-swipe="swipeEnabled" mode="op"><swipe-receiver>
      </div>
    </div>
    </div>
    <div ng-show="mode == 'Token'" class="row">
      <div class="col-sm-12">
        <div class="form-group form-group-default">
          <label>Token</label>
          <input type="text" class="form-control" placeholder="T0K3N" ng-model="request.Token"  ng-required="mode == 'Token'" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>CVV</label>
          <input type="text" placeholder="###" class="form-control" ng-model="request.CVV">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default" ng-class="{disabled: op=='Gift'}">
          <label>Zip</label>
          <input type="text" placeholder="#####" class="form-control" ng-model="request.Zip"  ng-disabled="op=='Gift'">
        </div>
      </div>
    </div>
    <button type="submit" ng-submit="submitRequest()" class="btn btn-primary btn-block m-t-10">Process Transaction</button>
  </form>
  <div ng-show="responses.length > 0">
  <hr>
  <h5>Responses</h5>
  <table class="table table-hover dataTabe no-footer" role="grid">
    <thead>
      <tr>
        <th class="sorting_disabled">Account</th>
        <th class="sorting_disabled">Amount</th>
        <th class="sorting_disabled">Brand</th>
        <th class="sorting_disabled">RefNo</th>
        <th class="sorting_disabled">Receipt</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in responses track by r.RefNo">
        <td>{{r.Account}}</td>
        <td>{{r.Amount}}</td>
        <td ng-if="r.Brand">{{r.Brand}}</td><td ng-if="!r.Brand">Gift</td>
        <td>{{r.RefNo}}</td>
        <td>
          <a ng-click="r.showReceipt=true;" class="btn btn-complete btn-sm">{{r.tranType}} Receipt</a>
          <modal-dialog show="r.showReceipt">
            <div id="printDiv">
              <div style="text-align:center;">
                <p>
                  *{{$root.config.merchantName}}*<br />
                  {{$root.config.merchantAddress1}}<br />
                  <span ng-if="$root.config.merchantAddress2">{{$root.config.merchantAddress2}}</span><br />
                  {{$root.config.merchantPhone}}<br /><hr />
                </p>
              </div>
              <div>
                <p>
                  {{r.processedDate | date:'MM/dd/yyyy h:mma'}}
                </p>
                <p ng-if="r.Brand">
                  CREDIT {{r.tranType | uppercase}} {{r.Amount | currency}}
                </p>
                <p ng-if="r.Balance">
                  GIFT SALE {{r.Amount | currency}}
                </p>
                <p>
                  {{r.Account}} XX/XX
                </p>
                <p ng-if="r.AuthCode">
                  APP: {{r.AuthCode}}
                </p>
                <p ng-if="r.RefNo">
                  REF: {{r.RefNo}}
                </p>
                <p ng-if="r.Brand">
                  I AGREE TO PAY ABOVE TOTAL AMOUNT ACCORDING TO CARD ISSUER AGREEMENT<br /><br />
                </p>
                <p ng-if="r.Brand">
                  X<hr/>
                </p>
              </div>
            </div>
          </modal-dialog>
      </tr>
    </tbody>
  </table>
</div>
