<h4>One Time Payment</h4>
<div class="panel-heading">
  <div class="panel-title">
    Run a single transaction
  </div>
</div>
<div ng-hide="$root.config.url">cannot use virtual terminal until configured</div>
  <form ng-submit="requestPayment()" ng-show="$root.config.url" class="m-t-10">
    <div class="row">
      <div class="col-sm-6">
        <div class="btn-group form-group form-group-default">
          <a class="btn btn-complete" ng-click="op = 'Credit'" ng-class="{active:op=='Credit'}">Credit</a>
          <a class="btn btn-complete" ng-click="op = 'Gift'" ng-class="{active:op=='Gift'}">Gift</a>
          <a class="btn btn-complete" ng-click="op = 'Swipe'" ng-class="{active:op=='Swipe'}">Swipe</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default input-group">
          <span class="input-group-addon">
            <i class="fa fa-dollar"></i>
          </span>
          <label>Amount</label>
          <input type="text" class="form-control" placeholder="0.00" ng-model="request.Amount" required>
        </div>
      </div>
    </div>
    <div class="row" ng-hide="op == 'Swipe'">
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>Card Number</label>
          <input type="text" placeholder="################" class="form-control" ng-model="request.Account" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default"  ng-class="{disabled: op=='Gift'}">
          <label>Expiration Date</label>
          <input type="text" placeholder="1231" class="form-control" ng-model="request.Expiration" ng-disabled="op=='Gift'">
        </div>
      </div>
    </div>
    <div ng-show="op == 'Swipe'" class="row">
      <div class="col-sm-12">
      <div class="form-group form-group-default">
        <swipeReceiver accesskey="request.AccessKey" encryptedAccount="request.EncryptedAccount"><swipeReceiver>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>CVV</label>
          <input type="text" placeholder="###" class="form-control" ng-model="request.CVV">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default" ng-class="{disabled: op=='Gift'}">
          <label>Zip</label>
          <input type="text" placeholder="#####" class="form-control" ng-model="request.Zip"  ng-disabled="op=='Gift'">
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <button type="submit" ng-submit="requestPayment()" class="btn btn-primary btn-block m-t-10">Process Transaction</button>
  </form>
  <div ng-show="responses.length > 0">
  <hr>
  <h5>Responses</h5>
  <table class="table table-hover dataTabe no-footer" role="grid">
    <thead>
      <tr>
        <th class="sorting_disabled">Account(last4)</th>
        <th class="sorting_disabled">Amount</th>
        <th class="sorting_disabled">Brand</th>
        <th class="sorting_disabled">RefNo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in responses">
        <td>{{r.Account}}</td>
        <td>{{r.Amount}}</td>
        <td>{{r.Brand}}</td>
        <td>{{r.RefNo}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-show="op == 'Swipe'">
</div>
