<h4>Enroll In Monetary Platforms</h4>
<form ng-show="wizardStep === 'ApiKey'" ng-submit="setBoardingApiValues()" >
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group form-group-default">
        <label>Developer API Key</label>
        <input type="text" placeholder="api123ABC456" ng-model="developerApiKeyInput" ng-required="!developerApiKeyInput"  class="form-control"  />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-cons m-t-10">Set Key</button>
</form>
<form ng-show="wizardStep === 'Merchant'" ng-submit="submitMerchant()">
  <h5>Submit Merchant Information</h5>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Business Name</label>
      <input type="text" ng-model="merchant.Name" placeholder="Bob's  Burgers" class="form-control" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Phone Number</label>
      <input type="text" ng-model="merchant.Phone" placeholder="555-569-8305" class="form-control" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Website</label>
      <input type="text" ng-model="merchant.Website" placeholder="www.BobsBurgers.com" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Timezone</label>
      <select ng-model="merchant.Timezone" class="form-control" required>
        <option value="" selected disabled> Select Timezone </option>
        <option>Eastern</option>
        <option>Central</option>
        <option>Mountain</option>
        <option>Arizona</option>
        <option>Pacific</option>
        <option>Alaska</option>
        <option>Hawaii</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Reseller / Dealer</label>
      <select ng-model="merchant.ResellerID" placeholder="555-569-8305" class="form-control">
        <option value="" selected disabled> Select Reseller </option>
        <option ng-repeat="r in resellers" value={{r.ID}}>{{r.Name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Products to Enroll</label>
      <a class="btn btn-sm btn-default" ng-click="enrollInProcessor = !enrollInProcessor; productChange();">
        <i class="fa" ng-class="{'fa-check-square': enrollInProcessor, ' fa-square': !enrollInProcessor}">
          Processor
        </i>
      </a>
      <a class="btn btn-sm btn-default" ng-click="enrollInSchedule = !enrollInSchedule; productChange();" ng-disabled="!enrollInProcessor" title="Schedule requires processor enrollemnt.">
        <i class="fa" ng-class="{'fa-check-square': enrollInSchedule, ' fa-square': !enrollInSchedule}">
          Sync Schedule
        </i>
      </a>
      <a class="btn btn-sm btn-default" ng-click="enrollInGift = !enrollInGift; productChange();">
        <i class="fa" ng-class="{'fa-check-square': enrollInGift, 'fa-square': !enrollInGift}">
          Gift
        </i>
      </a>
    </div>
  </div>
    <button type="submit" class="btn btn-primary btn-block m-t-10" ng-disabled="!(enrollInProcessor || enrollInSchedule || enrollInGift)" title="Select a product">Next Step</button>
</form>
<form ng-show="wizardStep === 'Contacts'" ng-submit="submitContacts()">
  <h5>Submit Contacts</h5>
  <div class="row" ng-repeat-start="contact in contacts">
    <div class="form-group form-group-default col-sm-6">
      <label>First Name</label>
      <input type="text" ng-model="contact.FirstName" class="form-control" placeholder="Bob" required />
    </div>
    <div class="form-group form-group-default col-sm-6">
      <label>Last Name</label>
      <input type="text" ng-model="contact.LastName" class="form-control" placeholder="Blecher" required />
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-6">
      <label>Phone Number</label>
      <input type="tel" placeholder="(201) 368-7001" ng-model="contact.Phone" class="form-control" required />
    </div>
    <div class="form-group form-group-default col-sm-6">
      <label>Email</label>
      <input type="email" placeholder="bob@bobburgers.com" ng-model="contact.Email" class="form-control" required />
    </div>
  </div>
  <div class="row" ng-repeat-end>
    <div class="form-group form-group-default" ng-class="{'col-sm-12': ($first || contact.ID), 'col-sm-10': !($first || contact.ID)}">
      <label>Contact Type</label>
      <select ng-model="contact.Type" class="form-control" required ng-disabled="$first">
        <option selected value="Owner">Owner</option>
        <option value="Employee">Employee</option>
      </select>
    </div>
    <div  ng-show="!($first || contact.ID)" class="col-sm-2 form-group form-group-default">
      <a class="btn btn-danger class-sm-2 btn-block btn-sm" title="Remove contact" ng-click="removeContact($index)">X</a>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <a class="btn btn-primary btn-block col-sm-1" ng-click="contacts.push({Type:'Employee'})">Add Another Contact</a>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-6">
      <a class="btn btn-primary btn-block" ng-click="prevStep()">Back</a>
    </div>
    <div class="form-group form-group-default col-sm-6">
      <button class="btn btn-primary btn-block" type="submit">Next</button>
    </div>
  </div>
</form>
<form ng-show="wizardStep === 'Addresses'" ng-submit="submitAddresses()">
  <h5>Submit Address Information</h5>
  <div class="row" ng-repeat-start="address in addresses">
    <h5>{{address.Type}}</h5>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Street</label>
      <input type="text" ng-model="address.Street" class="form-control" required placeholder="123 Fake Ave"/>
    </div>
  </div>
  <div class="row" ng-repeat-end>
    <div class="form-group form-group-default col-sm-4">
      <label>City</label>
      <input type="text" ng-model="address.City" required class="form-control" required placeholder="Durango" />
    </div>
    <div class="form-group form-group-default col-sm-4">
      <label>State</label>
      <input type="text" ng-model="address.State" required class="form-control" required placeholder="CO" maxlength="2" />
    </div>
    <div class="form-group form-group-default col-sm-4">
      <label>Postal Code</label>
      <input type="text" ng-model="address.PostalCode" required class="form-control" required placeholder="81301" maxlength="5" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a ng-click="prevStep()" class="btn btn-primary btn-block"> Back </a>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block" type="submit"> Next </button>
    </div>
  </div>
</form>
<form ng-show="wizardStep === 'Processor'" ng-submit="submitGateway()">
  <h5>Processor Enrollment</h5>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
    <label>Processor</label>
    <select ng-model="gatewayProcessor" class="form-control" ng-disabled="processorEnrollmentSuccessful">
      <option value="" selected> Select a Processor </option>
      <option>Vantiv</option>
      <option>Heartland</option>
      <option>TSYS</option>
      <option value="WorldPay">World Pay</option>
      <option value="FirstData">First Data</option>
      <option>Monetary</option>
    </select>
  </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
    <label>Merchant (Mid) Category</label>
    <select ng-model="enrollGateway.Category" class="form-control" ng-disabled="processorEnrollmentSuccessful">
      <option selected disabled value="">Select Category</option>
      <option ng-repeat="option in midCategories">{{option}}</option>
    </select>
  </div>
  </div>
  <div ng-show="gatewayProcessor === 'Vantiv'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>External Mid</label>
      <input type="text" class="form-control" ng-model="enrollGateway.ExternalMid" ng-required="gatewayProcessor === 'Vantiv'" placeholder="A1577DCCF8364B0AAC922BFE" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'WorldPay'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>External Mid</label>
      <input type="text" class="form-control" ng-model="enrollGateway.ExternalMid" ng-required="gatewayProcessor === 'WorldPay'" placeholder="9E1402AB175F4C7" ng-disabled="processorEnrollmentSuccessful" />
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'WorldPay'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Tid</label>
      <input type="text" class="form-control" ng-model="enrollGateway.Tid" ng-required="gatewayProcessor === 'WorldPay'" placeholder="553A4E12" ng-disabled="processorEnrollmentSuccessful" />
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'WorldPay'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Check Digit</label>
      <input type="text" class="form-control" ng-model="enrollGateway.CheckDigit" ng-required="gatewayProcessor === 'WorldPay'" placeholder="5" maxlength="1" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'WorldPay'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Auto Close Time (Eastern TimeZone)</label>
      <input type="text" class="form-control" ng-model="enrollGateway.AutoCloseTimeEastern" placeholder="04:00" maxlength="5" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'WorldPay'" class="row" ng-disabled="processorEnrollmentSuccessful">
    <div class="form-group form-group-default col-sm-12">
      <label>Feature Flags</label>
      <a class="btn btn-sm btn-default" ng-click="enrollGateway.ContactlessCapable = !enrollGateway.ContactlessCapable">
        <i class="fa" ng-class="{'fa-check-square': enrollGateway.ContactlessCapable, ' fa-square': !enrollGateway.ContactlessCapable}">
          Contactless Capable
        </i>
      </a>
      <a class="btn btn-sm btn-default" ng-click="enrollGateway.CustomerActivated = !enrollGateway.CustomerActivated">
        <i class="fa" ng-class="{'fa-check-square': enrollGateway.CustomerActivated, ' fa-square': !enrollGateway.CustomerActivated}">
          Customer Activated
        </i>
      </a>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'Heartland'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>License ID</label>
      <input type="text" placeholder="F144263410D349FCB11B" ng-model="enrollGateway.LicenseID" class="form-control" ng-required="gatewayProcessor === 'Heartland'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'Heartland'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Site ID</label>
      <input type="text" placeholder="117DB58255A3415486FD" ng-model="enrollGateway.SiteId" class="form-control" ng-required="gatewayProcessor === 'Heartland'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'Heartland'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Device ID</label>
      <input type="text" placeholder="E10993F63AAD4E9CA580" ng-model="enrollGateway.DeviceId" class="form-control" ng-required="gatewayProcessor === 'Heartland'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'Heartland'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Username</label>
      <input type="text" placeholder="U23RN4M3" ng-model="enrollGateway.Username" class="form-control" ng-required="gatewayProcessor === 'Heartland'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'Heartland'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Password</label>
      <input type="text" placeholder="P4SSw0rd1" ng-model="enrollGateway.Password" class="form-control" ng-required="gatewayProcessor === 'Heartland'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'TSYS'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Host Capture POS ID</label>
      <input type="text" placeholder="111D3E990FA8428" ng-model="enrollGateway.HostCapturePosId" class="form-control" ng-required="gatewayProcessor === 'TSYS'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'TSYS'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Authentication Code</label>
      <input type="text" placeholder="111D3E990FA8428" ng-model="enrollGateway.AuthenticationCode" class="form-control" ng-required="gatewayProcessor === 'TSYS'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'TSYS'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Zip</label>
      <input type="text" placeholder="81301" ng-model="enrollGateway.Zip" class="form-control" ng-required="gatewayProcessor === 'TSYS'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'FirstData'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>External Mid</label>
      <input type="text" placeholder="657A22A51CC74388" ng-model="enrollGateway.ExternalMid" class="form-control" ng-required="gatewayProcessor === 'FirstData'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'FirstData'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Tid</label>
      <input type="text" placeholder="422FC172" ng-model="enrollGateway.Tid" class="form-control" ng-required="gatewayProcessor === 'FirstData'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'FirstData'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Gid</label>
      <input type="text" placeholder="7C2E8B5308AC" ng-model="enrollGateway.Gid" class="form-control" ng-required="gatewayProcessor === 'FirstData'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'FirstData'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Category Code</label>
      <input type="text" placeholder="7C2E8B5308AC" ng-model="enrollGateway.CategoryCode" class="form-control" ng-required="gatewayProcessor === 'FirstData'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div ng-show="gatewayProcessor === 'FirstData'" class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Totals Password</label>
      <input type="text" placeholder="P422W0rd" ng-model="enrollGateway.TotalsPassword" class="form-control" ng-required="gatewayProcessor === 'FirstData'" ng-disabled="processorEnrollmentSuccessful"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a class="btn btn-block btn-primary" ng-click="prevStep()">Back</a>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-block btn-primary" type="submit"> Next </button>
    </div>
  </div>
</form>
<form ng-show="wizardStep === 'Schedule'" ng-submit="submitSchedule()">
  <h5>Schedule Enrollment</h5>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Processor</label>
      <select class="form-control" ng-model="enrollSchedule.ProcessorID">
        <option selected disabled value="">Select Processor For Bookings
        <option ng-repeat="processor in processors" value="{{processor.ID}}">{{processor.Processor}} - {{processor.Category}}</option>
      </select>
    </div>
    <div class="form-group form-group-default col-sm-12">
      <label>Marketplace</label>
      <select class="form-control" ng-model="enrollSchedule.MarketPlace">
        <option selected disabled value="">Select Marketplace For Bookings</option>
        <option value="Webopenings">Web Openings</option>
      </select>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-primary btn-lg btn-block" ng-click="prevStep()"> Back </a>
    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
    </div>
  </div>
</form>
<form ng-show="wizardStep === 'Gift'" ng-submit="submitGift()">
    <h5>Gift Enrollment</h5>
    <div class="row">
      <div class="form-group form-group-default  col-sm-12">
        <label>Gift Type</label>
        <select ng-model="giftType" class="form-control" ng-readonly="giftEnrollment.ID">
          <option selected>Standalone</option>
          <option>Join Exiting Group</option>
        </select>
      </div>
    </div>
    <div class="row" ng-hide="giftType === 'Standalone'">
      <div class="form-group form-group-default col-sm-12">
        <label>Group Name</label>
        <input type="text" class="form-control" ng-model="giftEnrollment.GroupName" ng-readonly="giftEnrollment.ID" ng-required="giftType!=='Standalone'" />
      </div>
    </div>
    <div class="row">
      <div class="form-group form-group-default  col-sm-12">
        <label>Notes</label>
          <input type="text" maxlength="255" placeholder="Contact me about ordering gift cards." class="form-control" ng-model="giftEnrollment.Notes" ng-readonly="giftEnrollment.ID" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="btn btn-primary btn-lg btn-block" ng-click="prevStep()"> Back </a>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
      </div>
    </div>
</form>
<form ng-show="wizardStep === 'TermsAndConditions'" ng-submit="submitTermsAndConditions()">
  <div class="row">
    <div class="pre-scrollable col-sm-12">
      <pre>{{TermsAndConditions}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="form-group form-group-default col-sm-12">
      <label>Initials</label>
      <input type="text" class="form-control" required ng-model="confirmation.Initials" />
    </div>
    <div class="form-group form-group-default col-sm-12">
      <button type="submit" class="btn btn-primary btn-lg btn-block" >Accept T &amp; C</button>
    </div>
  </div>
</form>
