/*

* Override Pages default styles or create your own styles here

*/
.test {}
/* simple css for hiding angularjs stuff while loading*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Overrides */
.in-progress {
  background: rgba(129,129,129,.5);
  position: absolute;
  z-index: 1000;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.in-progress-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:auto;
  width:400px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background: #fff;
  padding:30px;
  text-align: center;
}
.progress-circle-indeterminate {
  background: url("../../assets/img/progress-circle-primary.svg") no-repeat top left;
  animation-name: spin;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.page-container {
  padding-left: 0;
}

.panel .panel-heading {
  padding: 0px 20px 0px 0px;
  min-height: 30px;
}

.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default:active:hover {
  background-color: #fff!important;
}
.btn-default.active a, .btn-default:active a, .btn-default.active:focus a, .btn-default:active:focus a, .btn-default:active:hover a {
  color: #232d32;
}
.btn-default, .btn-default:focus {
  background-color: transparent;
  border:0px;
}
.btn-default:hover, .btn-default.active:hover {
  border:0px;
}
.btn-tab {
  width:20%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-tab a {
  width:100%;
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  color: #91a3ad;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 11px;
}
.btn.btn-tab {
  padding:0;
}
.btn-group .btn+.btn {
  margin-left:0;
}
.bbtn-group a:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bbtn-group a:nth-child(2) {
  border-radius: 0px;
}
.bbtn-group a:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.alert-ul {
  padding:0;
  margin:0;
}
.alert .close {
  background: url("../../assets/img/icons/noti-cross.png") no-repeat scroll 0 0 transparent;
  top:7px;
}
li {
  list-style: none;
}
.table.table-condensed.history-table tbody tr td {
  padding-top:5px;
  padding-bottom:5px;
}
#detailedTable_wrapper input {
  width: 80px;
}
#detailedTable_wrapper th {
  padding:10px;
}
#detailedTable_wrapper .input-group-addon i {
  top:-1px;
}
.table.table-condensed.table-detailed > tbody > tr > td:last-child:before {
  display: none!important;
}
